extends ../layout/index
block content
  #feedback.container
   .row
     .col-sm-4
       h1.feedback-form-title Send us feedback
       if error
        .alert.alert-danger 
          | There was an error
       if success
         .alert.alert-success
          | Thank you for you feedback
       form.feedback-form(action='/feedback', method='POST')
         .form-group
           label(for='feedback-form-name')
           input#feedback-form-name.form-control(type='text', placeholder='Enter your name', name='fbname' value=fbname)
         .form-group
           label(for='feedback-form-title') Title
           input#feedback-form-title.form-control(type='text', placeholder='Title of your feedback', name='fbtitle' value=fbtitle)
         .form-group
           label(for='feedback-form-message') Message
           textarea#feedback-form-message.form-control(type='text', placeholder='Enter your message, then hit the submit', rows='6' name='fbmessage')=fbmessage
         button.btn.btn-default.pull-right(type='submit') Submit
     // primary
     aside.col-sm-8
       .maincontent.feedback
         h2.article-title Recent Feedback
         each message in feedbackList
          .feedback-messages
            .feedback-item.item-list.media-list
              .feedback-item.media
                .feedback-info.media-body
                  .feedback-head
                    .feedback-title=message.title 
                      | 
                      small.feedback-name.label.label-info=message.name 
                  .feedback-message=message.message 

  